<h1 class="text-center">Encrypt with AES</h1> 
<div class="col-sm-6">
  <div class="form-group">  
    <label for="txtTextToConvert">Plain Text</label> <br/>
    <input type="text" class="form-control" placeholder="Enter text you want to encrypt" [(ngModel)]="plainText">   <br/>
  </div>  
  <br/>
  <div class="form-group">  
    <label for="txtPassword">Key</label>   <br/>
    <input type="password" class="form-control" placeholder="Enter encryption password" [(ngModel)]="encPassword">   <br/>
    <label>Inputted Key:</label><br/>
    <label>{{encPassword}}</label><br/>
  </div>  
  <br/>
  <label>Encrypted Text:</label> <br>
  <label title="Encrypted Text">{{conversionEncryptOutput}}</label>
  <br>  
  <button type="button" class="btn btn-success float-right" (click)="convertText()">Encrypt</button>  
</div>  